CONFIG_ARCH=arm
CONFIG_ARCH_CHIP=stm32h7
CONFIG_ARCH_BOARD=shirley-fc-dev-board

# Cache
CONFIG_ARMV7M_DCACHE=y
CONFIG_ARMV7M_DCACHE_WRITETHROUGH=y
CONFIG_ARMV7M_DTCM=y
CONFIG_ARMV7M_ICACHE=y

# C++ support
CONFIG_HAVE_CXX=y
CONFIG_HAVE_CXXINITIALIZE=y

# Task/scheduler
CONFIG_SCHED_WAITPID=y
CONFIG_PTHREAD_MUTEX_TYPES=y
CONFIG_RR_INTERVAL=200
CONFIG_TASK_NAME_SIZE=0     #Saves RAM but kills ps output — set to at least 32 for debug

CONFIG_BOARD_LOOPSPERMSEC=43103

# NSH shell
CONFIG_NSH_LIBRARY=y
CONFIG_SYSTEM_NSH=y

# UART for debug
CONFIG_USART2_SERIALDRIVER=y   # whichever UART your debug port is on
CONFIG_USART2_BAUD=115200

CONFIG_DEBUG_SYMBOLS=y

# Flash
CONFIG_INTELHEX_BINARY=y
CONFIG_RAW_BINARY=y

# RAM

CONFIG_MM_REGIONS=4

CONFIG_RAM_SIZE=245760
CONFIG_RAM_START=0x20010000

# Stack sizes (tune for your modules)
CONFIG_IDLETHREAD_STACKSIZE=2048
CONFIG_USERMAIN_STACKSIZE=4096

CONFIG_LINE_MAX=64